Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Switch grafana datasource to https://graphite.opendev.org
  grafana/datasource.yaml
Due: none

Announce stable branches for Kuryr
  gerritbot/channels.yaml
Due: none

Temporarily disable inap-mtl01 for maintenance
  nodepool/nl03.openstack.org.yaml
Due: none

Revert "Temporarily disable inap-mtl01 for maintenance"
  nodepool/nl03.openstack.org.yaml
Due: none

Adding the OUI training VM repo under docs
  gerritbot/channels.yaml
Due: none

Retire openstack-ansible unused roles
  zuul.d/projects.yaml
Due: none

nodepool: pause ovh
  nodepool/nl04.openstack.org.yaml
Due: none

Revert "nodepool: pause ovh"
  nodepool/nl04.openstack.org.yaml
Due: none

Move fit-review from openstack to opendev
  gerrit/acls/opendev/git-review.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix files for linting after OpenDev change
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix starlingx queue
  zuul.d/projects.yaml
Due: none

Sort gerritbot/channels.yaml
  gerritbot/channels.yaml
Due: none

Fix proposal scripts
  roles/copy-proposal-common-scripts/files/common.sh
Due: openstack-tox-linters

Add system-required back for repos
  tools/zuul-projects-checks.py
  zuul.d/projects.yaml
Due: openstack-tox-linters

Update nodepool for OpenDev
  nodepool/elements/cache-devstack/extra-data.d/50-early-source-repo
  nodepool/elements/nodepool-base/finalise.d/89-unbound
  nodepool/elements/openstack-repos/README.rst
  nodepool/elements/openstack-repos/extra-data.d/50-create-repo-list
Due: none

Update jobs for OpenDev
  playbooks/proposal/generate_puppetfile.sh
  playbooks/proposal/propose_update.sh
  roles/build-wheels/files/wheel-build.sh
  roles/copy-release-tools-scripts/files/release-tools/clone_repo.sh
  roles/copy-release-tools-scripts/files/release-tools/eol_branch.sh
  tools/propose_projects_yaml_update.sh
Due: openstack-tox-linters

Update grafana for OpenDev
  grafana/afs.yaml
  grafana/bridge.yaml
  grafana/ceph.yaml
  grafana/git.yaml
  grafana/horizon.yaml
  grafana/kolla.yaml
  grafana/mosquitto.yaml
  grafana/networking-bagpipe.yaml
  grafana/networking-bgpvpn.yaml
  grafana/networking-midonet.yaml
  grafana/networking-odl.yaml
  grafana/networking-ovn.yaml
  grafana/networking-sfc.yaml
  grafana/neutron-dynamic-routing.yaml
  grafana/neutron-fwaas.yaml
  grafana/neutron-lib.yaml
  grafana/neutron-stable-minusone.yaml
  grafana/neutron-stable-minustwo.yaml
  grafana/neutron-tempest-plugin.yaml
  grafana/neutron-vpnaas.yaml
  grafana/neutron.yaml
  grafana/nodepool-citycloud.yaml
  grafana/nodepool-dib.yaml
  grafana/nodepool-inap.yaml
  grafana/nodepool-limestone.yaml
  grafana/nodepool-linaro.yaml
  grafana/nodepool-ovh.yaml
  grafana/nodepool-packethost.yaml
  grafana/nodepool-rax.yaml
  grafana/nodepool-vexxhost.yaml
  grafana/nodepool.yaml
  grafana/octavia.yaml
  grafana/openstack-ansible.yaml
  grafana/ovsdbapp.yaml
  grafana/tap-as-a-service.yaml
  grafana/tempest.yaml
  grafana/vmware-nsx.yaml
  grafana/zuul-status.yaml
Due: none

Remove cgit aliases
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Update links for opendev
  REVIEWING.rst
  grafana/nodepool-dib.base.template
  grafana/nodepool.template
  tools/check_valid_gerrit_projects.py
  tox.ini
  zuul.d/jobs.yaml
  zuul/site-variables.yaml
Due: openstack-tox-linters

Fix nodepool after OpenDev changes
  nodepool/elements/cache-devstack/extra-data.d/55-cache-devstack-repos
  nodepool/elements/cache-devstack/extra-data.d/60-rm-early-source-repo
  nodepool/elements/nodepool-base/README.rst
  nodepool/elements/nodepool-base/extra-data.d/99-copy-nodepool-scripts
  nodepool/elements/nodepool-base/post-install.d/89-data-files
  playbooks/proposal/propose_update.sh
  tools/build-image.sh
Due: openstack-tox-linters

Fix system-config org in tools/build-image.sh
  tools/build-image.sh
Due: openstack-tox-linters

update vmware-nsx related jobs
  zuul.d/projects.yaml
Due: none

Remove reviewstats unit test job config
  zuul.d/projects.yaml
Due: none

Retire oslosphinx
  gerrit/acls/openstack/oslosphinx.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Update Airship projects for gerritbot
  gerritbot/channels.yaml
Due: none

Use py36 instead of py35 for periodic master jobs
  zuul.d/projects.yaml
Due: none

Add openstacksdk-functional-devstack-networking job to Neutron dashboard
  grafana/neutron.yaml
Due: none

Switch py35 periodic jobs to py36 in Neutron's dashboard
  grafana/neutron.yaml
Due: none

Track neutron uwsgi jobs move to check queue
  grafana/neutron.yaml
Due: none

Remove publish-to-pypi from ttygroup repos
  zuul.d/projects.yaml
Due: none

Update networking-ovn dashboard
  grafana/networking-ovn.yaml
Due: none

Update Grafana dashboards for stable Neutron releases
  grafana/neutron-stable-minusone.yaml
  grafana/neutron-stable-minustwo.yaml
Due: none

Create election repository for StarlingX
  gerrit/acls/starlingx/election.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix LP access credentials
  zuul.d/secrets.yaml
Due: none

Minor/useful tweaks to Sahara repo descriptions
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Revert "Revert "nodepool: pause ovh""
  nodepool/nl04.openstack.org.yaml
Due: none
