Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Remove retired x/js-* repos from gerritbot
  gerritbot/channels.yaml
Due: none

Revert "Temporarily disable fortnebula"
  nodepool/nl02.openstack.org.yaml
Due: none

Add dependent charm for watcher
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

IRC #openstack-ironic gerritbot CI failed messages
  gerritbot/channels.yaml
  tools/irc_tests.py
Due: openstack-tox-linters

Bye, Bye, Trusty
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.yaml
  nodepool/elements/nodepool-base/finalise.d/89-boot-settings
  nodepool/elements/nodepool-base/post-install.d/20-iptables
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
  playbooks/wheel/release.yaml
  tools/build-image.sh
Due: openstack-tox-linters

Disable #openstack-merges
  gerritbot/channels.yaml
Due: none

Add ircbot and repo for Multi-Arch SIG
  accessbot/channels.yaml
  gerrit/acls/openstack/multi-arch-sig.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Stop forcing universal wheel releases
  zuul.d/jobs.yaml
Due: none

Don't cache downloaded wheels in our wheels mirror
  roles/build-wheels/files/wheel-build.sh
Due: openstack-tox-linters

Fix use of 'comment-added' event type
  gerritbot/channels.yaml
  tools/irc_tests.py
Due: openstack-tox-linters

Correct LOGS path in wheel build script
  roles/build-wheels/files/wheel-build.sh
Due: openstack-tox-linters

Set root mount options on debian buster image
  nodepool/nodepool.yaml
Due: none

Add linaro-us cloud to nodepool
  nodepool/nb03.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  zuul/site-variables.yaml
Due: none

Add charm-interface-keystone-notifications project
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Move tap-as-a-service job templates
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Adapt branches for sdk projects in gerritbot
  gerritbot/channels.yaml
Due: none

check-release-approval job improvements
  roles/check-release-approval/files/check_approval.py
  zuul.d/jobs.yaml
Due: openstack-tox-linters

Updated x/networking-mlnx project for pypi and neutron
  zuul.d/projects.yaml
Due: none

Fix description for promote-tox-docs-infra
  zuul.d/jobs.yaml
Due: none

Add openstack/election AFS promotion job
  zuul.d/jobs.yaml
Due: none

Remove publishing job for transparency-policy
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Remove static publishing for governance
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Remove promote-tox-docs-static
  zuul.d/jobs.yaml
Due: none

Move governance-uc jobs in-tree
  zuul.d/projects.yaml
Due: none

Don't require CLA for contributors of Ansible Openstack modules
  gerrit/acls/openstack/ansible-collections-openstack.config
Due: none

Allow python-storyboardclient direct release
  gerrit/acls/opendev/python-storyboardclient.config
Due: none

Testing publishing artifacts to AFS
  playbooks/publish/openstack-artifacts-with-afs-test.yaml
  playbooks/publish/openstack-artifacts-with-afs.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: none

Artificat to AFS testing - fix test job
  zuul.d/jobs.yaml
Due: none

Artifact to AFS testing - remove newrev
  playbooks/publish/openstack-artifacts-with-afs-test.yaml
Due: none

Artificat to AFS testing - crete artifact on localhost
  playbooks/publish/openstack-artifacts-with-afs-test.yaml
Due: none

openstack-artifacts-with-afs: fix typo
  playbooks/publish/openstack-artifacts-with-afs.yaml
Due: none

Artifact publishing to AFS - don't use upload-afs
  playbooks/publish/openstack-artifacts-with-afs.yaml
  zuul.d/jobs.yaml
Due: none

Artifact to AFS publishing - don't use archive flag
  playbooks/publish/openstack-artifacts-with-afs.yaml
Due: none

Remove publish-zuul-python-branch-tarball and release-zuul-python
  playbooks/zuul-tarball/post.yaml
  playbooks/zuul-tarball/pre.yaml
  playbooks/zuul-tarball/run.yaml
  zuul.d/jobs.yaml
Due: none

Migrate to upload-afs-roots role
  playbooks/api-jobs/promote.yaml
  playbooks/publish/install-guide.yaml
  playbooks/publish/opendev-afs.yaml
  playbooks/publish/openstack-afs.yaml
  playbooks/publish/starlingx-afs.yaml
  playbooks/publish/zuul-afs.yaml
Due: none

upload-artifacts-with-afs: use upload-afs-synchronzie role
  playbooks/publish/openstack-artifacts-with-afs.yaml
Due: none

Update Octavia failure rate dashboard
  grafana/octavia.yaml
Due: none

Start using airship citycloud cloud
  nodepool/nl02.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Add "Review-Priority" gerrit label to devstack
  gerrit/acls/openstack/devstack.config
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
