Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    bdist_wheel_xargs: --universal

test-release-openstack-python3:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
  ...

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Fix read the docs build for sqlalchemy-migrate
  zuul.d/projects.yaml
Due: none

Add fetch-output and merge-output-to-logs to base
  playbooks/base-minimal/post.yaml
  playbooks/base-ozj/post.yaml
  playbooks/base/post.yaml
Due: none

Update base-test jobs to publish artifacts too
  playbooks/base-test/post.yaml
  zuul.d/jobs.yaml
Due: none

Add commit-message-length-validator gerrit plugin
  zuul/main.yaml
Due: project-config-check-main-yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add Cinder Storage charm interface
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove stx-* Gerrit master notifications from #starlingx
  gerritbot/channels.yaml
Due: none

Create windmill-ops project
  gerrit/acls/openstack/windmill-ops.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix the misspelling of "package"
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Set requireContributorAgreement false for windmill / windmill-ops
  gerrit/acls/openstack/windmill-ops.config
  gerrit/acls/openstack/windmill.config
Due: none

Add neutron-tempest-iptables_hybrid-fedora job to Neutron dashboard
  grafana/neutron.yaml
Due: none

Retire puppet-stackalytics (part 1)
  zuul.d/projects.yaml
Due: none

Retire puppet-stackalytics (part 3)
  gerrit/acls/openstack-infra/puppet-stackalytics.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

stx-test: Add new repo for test tools
  gerrit/acls/openstack/stx-test.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Set ANSIBLE_ACTION_PLUGINS for linters
  tox.ini
Due: openstack-tox-linters

Fix typo with openstack-dev/ci-sandbox exclude
  zuul/main.yaml
Due: project-config-check-main-yaml

Run puppetforge publish playbook in the clouds
  playbooks/publish/puppetforge.yaml
Due: none

Add ansible-role-ansible project
  gerrit/acls/openstack/ansible-role-ansible.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add publish-tox-docs-infra-bionic
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add barbican stable branches to gerritbot
  gerritbot/channels.yaml
Due: none

Rename ironic job in neutron dashboard
  grafana/neutron.yaml
Due: none

allow local.d to preexist
  nodepool/elements/nodepool-base/finalise.d/89-unbound
Due: none

Add Kata tenant Zuul configuration repository
  gerrit/acls/kata-containers/zuul-config.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Switch docker user/pass for Zuul container jobs
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Add ansible roles for managing HSM software
  gerrit/acls/openstack/ansible-role-atos-hsm.config
  gerrit/acls/openstack/ansible-role-thales-hsm.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add openstack/ansible-role-borgbackup
  gerrit/acls/openstack/ansible-role-borgbackup.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

migrate manila-image-elements to in-tree job
  zuul.d/projects.yaml
Due: none

Add openstack/ansible-role-borgmatic
  gerrit/acls/openstack/ansible-role-borgmatic.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add stable branches to rpm-packaging gerritbot
  gerritbot/channels.yaml
Due: none

Temporarily add opendev/base-jobs as an untrusted-project
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove opendev/base-jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix the ceph grafana dashboard
  grafana/ceph.yaml
Due: none

Add openstack/windmill-backup
  gerrit/acls/openstack/windmill-backup.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Define a specific Zuul tenant for Kata containers
  zuul/main.yaml
Due: project-config-check-main-yaml

Set inap max-servers to 0
  nodepool/nl03.openstack.org.yaml
Due: none

Add opendev/base-jobs to openstack tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Revert "Set inap max-servers to 0"
  nodepool/nl03.openstack.org.yaml
Due: none

Fix release management ACLs for OpenStack-Helm
  gerrit/acls/openstack/openstack-helm-addons.config
  gerrit/acls/openstack/openstack-helm-infra.config
  gerrit/acls/openstack/openstack-helm.config
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
