Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Moving the workload on FNCI to 60%
  nodepool/nl02.openstack.org.yaml
Due: none

Reenable limestone cloud region in nodepool
  nodepool/nl02.openstack.org.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add review priority for kayobe repos
  gerrit/acls/x/kayobe.config
Due: none

End Airship Utils gating
  zuul.d/projects.yaml
Due: none

Publish api-ref/api-guide to docs.o.o
  zuul.d/jobs.yaml
Due: none

Remove publish-openstack-manuals-developer-lang
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add puppet-crane noop jobs
  zuul.d/projects.yaml
Due: none

Remove puppet-crane
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add release jobs for ansible-role-collect-logs
  zuul.d/projects.yaml
Due: none

Cleanup in-tree removed jobs
  zuul.d/projects.yaml
Due: none

Update Neutron grafana dashboard
  grafana/neutron.yaml
Due: none

Remove airship/berth from infra
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

proposal: add sync for doc/* in openstack-ansible
  playbooks/proposal/sync_openstack_ansible_common_files.sh
Due: openstack-tox-linters

Remove airship/utils from infrastructure
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Rename "tripleo-ci-centos-7-scenario007-standalone" in Neutron
  grafana/neutron.yaml
Due: none

Add additional gerrit plugin repos
  zuul/main.yaml
Due: project-config-check-main-yaml

Enable IAD opendev.org mirror
  zuul/site-variables.yaml
Due: none

Ends project gating for doc8
  zuul.d/projects.yaml
Due: none

Disable sjc
  nodepool/nl03.openstack.org.yaml
Due: none

Default zuul tenant to use ansible 2.8 for jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Revert "Disable sjc"
  nodepool/nl03.openstack.org.yaml
Due: none

set FN to boot from volume for Cinder NVME backend
  nodepool/nl02.openstack.org.yaml
Due: none

Start retiring tc-as-a-service
  zuul.d/projects.yaml
Due: none

Finish retiring tc-as-a-service
  gerrit/acls/x/tc-as-a-service.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove old install-guide-jobs from murano
  zuul.d/projects.yaml
Due: none

projects: add vexxhost/openstack-monitoring
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Revert "Enable IAD opendev.org mirror"
  zuul/site-variables.yaml
Due: none

Add new job "tempest-ipv6-only" to neutron CI dashboard
  grafana/neutron.yaml
Due: none

Allow registered users to vote for backport candidates
  gerrit/acls/openstack/octavia-dashboard.config
  gerrit/acls/openstack/octavia-lib.config
  gerrit/acls/openstack/octavia.config
  gerrit/acls/openstack/python-octaviaclient.config
Due: none

Linaro London: use new bigger flavour
  nodepool/nl03.openstack.org.yaml
Due: none

New project request: airship/porthole
  gerrit/acls/airship/porthole.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix ACL for compute-hyperv
  gerrit/acls/openstack/compute-hyperv.config
Due: none

Adding another pool to FN for expanded memory test
  nodepool/nl02.openstack.org.yaml
Due: none

FN can now support 100 nodes - turning up quota
  nodepool/nl02.openstack.org.yaml
Due: none

Rename x/kayobe* to openstack/
  gerrit/acls/openstack/kayobe.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Make gerritbot notify #openstack-neutron IRC channel of stable reviews
  gerritbot/channels.yaml
Due: none

Remove in-tree jobs for neutron-classifier
  zuul.d/projects.yaml
Due: none

New project request: airship/kubernetes-entrypoint
  gerrit/acls/airship/kubernetes-entrypoint.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml
