Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Add 'Review-Priority' for Kolla repos
  gerrit/acls/openstack/kolla-ansible.config
  gerrit/acls/openstack/kolla-cli.config
  gerrit/acls/openstack/kolla.config
Due: none

Added Vitrage specs
  specs/specs.yaml
Due: none

Add openstack-virtual-baremetal to openstack
  gerrit/acls/openstack/openstack-virtual-baremetal.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add publish-to-pypi template to placement
  zuul.d/projects.yaml
Due: none

Add new Sahara repositories for split plugins
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Consolidate Cinder repo ACL settings
  gerrit/acls/openstack/os-brick.config
  gerrit/acls/openstack/python-brick-cinderclient-ext.config
  gerrit/acls/openstack/python-cinderclient.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove Cinder CI Verified label
  gerrit/acls/openstack/cinder.config
Due: none

Add node host_ids to logstash fields
  roles/submit-log-processor-jobs/library/submit_log_processor_jobs.py
Due: openstack-tox-linters

Add #opendev to accessbot
  accessbot/channels.yaml
Due: none

Use ensure-output-dirs in base
  playbooks/base/pre.yaml
Due: none

Pin ansible-lint <4 in the linters venv
  tox.ini
Due: openstack-tox-linters

Add fetch-output to base-test
  playbooks/base-test/post-logs.yaml
Due: none

Add 'Review-Priority' for Zaqar repos
  gerrit/acls/openstack/zaqar-ui.config
  gerrit/acls/openstack/zaqar.config
Due: none

Run fetch-output before removing ssh keys
  playbooks/base-test/post-logs.yaml
  playbooks/base-test/post.yaml
  zuul.d/jobs.yaml
Due: none

Add fetch-output to base job
  playbooks/base/post.yaml
  zuul.d/jobs.yaml
Due: none

Retire murano-deployment
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

fetch-output: switch base to use post.yaml
  zuul.d/jobs.yaml
Due: none

Rename base-minimal/post-ssh to base-minimal/post
  playbooks/base-minimal/post-ssh.yaml
  playbooks/base-minimal/post.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

sahara: basic jobs for the new repos, fix IRC notifications
  gerritbot/channels.yaml
  zuul.d/projects.yaml
Due: none

Add Fedora 29 nodes
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Remove noop job for openstack/ara-web
  zuul.d/projects.yaml
Due: none

Create base-ozj base job
  playbooks/base-ozj/README.rst
  playbooks/base-ozj/post-logs.yaml
  playbooks/base-ozj/post.yaml
  playbooks/base-ozj/pre.yaml
  zuul.d/jobs.yaml
Due: none

Pull fetch-output back out of base
  playbooks/base-minimal/post.yaml
  playbooks/base-ozj/post.yaml
  playbooks/base/post.yaml
Due: none

Add merge-output-to-logs to base-test
  playbooks/base-test/post.yaml
Due: none

Add CentOS NetworkManager testing node
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Run openstackid docs jobs on bionic
  zuul.d/projects.yaml
Due: none

Add gerritbot to #opendev
  gerritbot/channels.yaml
Due: none

Enable back GRA1 on OVH cloud
  nodepool/nl04.openstack.org.yaml
Due: none

Exclude pipeline config items for openstack-dev/ci-sandbox
  zuul/main.yaml
Due: project-config-check-main-yaml

Retire gantt, python-ganttclient
  accessbot/channels.yaml
  gerrit/acls/openstack/gantt.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Also report promote results to gerrit
  zuul.d/pipelines.yaml
Due: none

Upload centos-7-nm image
  nodepool/nodepool.yaml
Due: none

Revert "Add CentOS NetworkManager testing node"
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Add puppetforge publish and add to puppet release
  playbooks/publish/puppetforge.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Add repos from gerrit.googlesource.com to zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Sahara plugins: enable translations
  gerrit/projects.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml

kata: add dco-license jobs to kata projects
  zuul.d/projects.yaml
Due: none

Add in-tree gerrit submodules to googlesource
  zuul/main.yaml
Due: project-config-check-main-yaml

Add opendev/base-jobs repo
  gerrit/acls/opendev/base-jobs.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml
