Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Update karbor to use storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Replace the old Stein cycle signing key with Train
  zuul.d/secrets.yaml
Due: none

Retire openstack-ansible unused roles
  gerrit/acls/openstack/openstack-ansible-os_almanach.config
  gerrit/acls/openstack/openstack-ansible-os_molteniron.config
  gerrit/acls/openstack/openstack-ansible-os_monasca-agent.config
  gerrit/acls/openstack/openstack-ansible-os_monasca.config
  gerrit/acls/openstack/openstack-ansible-os_searchlight.config
  gerrit/acls/openstack/openstack-ansible-os_watcher.config
  gerrit/acls/openstack/openstack-ansible-os_zaqar.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

opendev.org mirrors: switch out DFW, switch in IAD
  zuul/site-variables.yaml
Due: none

Retire independent ansible role
  zuul.d/projects.yaml
Due: none

Revert "opendev.org mirrors: switch out DFW, switch in IAD"
  zuul/site-variables.yaml
Due: none

Stop building control plane images
  nodepool/nodepool.yaml
Due: none

Remove nodepool builder config for control plane images
  nodepool/nodepool.yaml
Due: none

Revert "Revert "opendev.org mirrors: switch out DFW, switch in IAD""
  zuul/site-variables.yaml
Due: none

Retiring TripleO-UI and associated projects.
  gerrit/acls/openstack/tripleo-ui.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add DFW opendev.org mirror back
  zuul/site-variables.yaml
Due: none

Moving ironic-prometheus-exporter under Ironic
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add openSUSE 15.1 to the nodepool building as opensuse-15
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.yaml
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: openstack-tox-linters

Add airship/election
  gerrit/acls/airship/election.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add airship/airshipctl
  gerrit/acls/airship/airshipctl.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

New project request: airship/docs
  gerrit/acls/airship/docs.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Reduce OVH BHS1 pool size to 120
  nodepool/nl04.openstack.org.yaml
Due: none

Add ``octavia-diskimage-retrofit`` charm
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Set the tripleo-ansible project to use storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Do not require a CLA for the sandbox
  gerrit/acls/opendev/sandbox.config
Due: none

Revert "Revert "Disable provider limestone""
  nodepool/nl02.openstack.org.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add zuul-operator project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Revert "Revert "Revert "Disable provider limestone"""
  nodepool/nl02.openstack.org.yaml
Due: none

Revert "Revert "Revert "Revert "Disable provider limestone""""
  nodepool/nl02.openstack.org.yaml
Due: none

Fix retirement of ansible repos
  gerritbot/channels.yaml
  zuul.d/projects.yaml
Due: none

Remove retired repos
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Removed unused ACL
  gerrit/acls/openstack/ansible-role-tripleo-modify-image.config
Due: none

Make glean opensuse job non-voting
  zuul.d/projects.yaml
Due: none

Remove release-openstack-python-without-pypi
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Remove nodepool functional job attachments
  zuul.d/projects.yaml
Due: none

Install PDK dependencies for puppet building
  playbooks/puppet-tarball/pre.yaml
Due: none

Remove bindep role for Puppet build job
  playbooks/puppet-tarball/pre.yaml
Due: none

Fix ACLs for retired ansible-role-tripleo-cookiecutter
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Retire the release-schedule-generator project
  gerrit/acls/openstack/release-schedule-generator.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Adjust jobs running on zuul-jobs
  zuul.d/projects.yaml
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
