Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Revert "Remove accessbot from #openstack-kayobe"
  accessbot/channels.yaml
Due: none

Symlink /opt/git to /opt/git/opendev.org
  nodepool/elements/openstack-repos/install.d/50-symlink
Due: none

Cache repos in /opt/git/opendev.org
  nodepool/elements/openstack-repos/extra-data.d/50-create-repo-list
  nodepool/elements/openstack-repos/install.d/50-symlink
Due: none

Add windmill-ops / ansible-role-elasticsearch
  gerrit/acls/windmill/ansible-role-elasticsearch.config
  gerrit/acls/windmill/windmill-logs.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Set requireContributorAgreement false for windmill roles
  gerrit/acls/windmill/ansible-role-ansible.config
  gerrit/acls/windmill/ansible-role-borgbackup.config
  gerrit/acls/windmill/ansible-role-borgmatic.config
  gerrit/acls/windmill/ansible-role-carbon.config
  gerrit/acls/windmill/ansible-role-diskimage-builder.config
  gerrit/acls/windmill/ansible-role-gear.config
  gerrit/acls/windmill/ansible-role-grafyaml.config
  gerrit/acls/windmill/ansible-role-logrotate.config
  gerrit/acls/windmill/ansible-role-nginx.config
  gerrit/acls/windmill/ansible-role-nodepool.config
  gerrit/acls/windmill/ansible-role-openstacksdk.config
  gerrit/acls/windmill/ansible-role-ssh.config
  gerrit/acls/windmill/ansible-role-statsd.config
  gerrit/acls/windmill/ansible-role-sudoers.config
  gerrit/acls/windmill/ansible-role-virtualenv.config
  gerrit/acls/windmill/ansible-role-whisper.config
  gerrit/acls/windmill/ansible-role-zookeeper.config
  gerrit/acls/windmill/ansible-role-zuul.config
Due: none

Remove obsolete docs publish jobs
  zuul.d/jobs.yaml
Due: none

Add promote job for starlingx/docs
  zuul.d/secrets.yaml
  zuul.d/starlingx-jobs.yaml
Due: none

Add repos to opendev tenant for system-config jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove unused stx docs publish job
  zuul.d/starlingx-jobs.yaml
Due: none

Add additional repos need for system-config
  zuul/main.yaml
Due: project-config-check-main-yaml

add common nested-virt lables
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: none

Use iptables for openSUSE
  nodepool/elements/infra-package-needs/pkg-map
  nodepool/elements/nodepool-base/finalise.d/89-boot-settings
  nodepool/elements/nodepool-base/install.d/20-iptables
  nodepool/elements/nodepool-base/post-install.d/20-iptables
Due: none

Set Review-Priority label sticky
  gerrit/acls/openstack/monasca.config
Due: none

Update Grafana dashboard for openSUSE
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.yaml
Due: openstack-tox-linters

Update Networking OVN failure rate dashboard
  grafana/networking-ovn.yaml
Due: none

decrease FN test nodes to 65
  nodepool/nl02.openstack.org.yaml
Due: none

Add airshipui project
  gerrit/acls/airship/airshipui.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add ansible-collections-openstack repo
  gerrit/acls/openstack/ansible-collections-openstack.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add base promote job for moving static.o.o
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Switch governance sites to AFS publishing
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Cleanup publish-openstack-releasenotes jobs
  zuul.d/jobs.yaml
Due: none

Add ansible-role-zuul-registry role for windmill
  gerrit/acls/windmill/ansible-role-zuul-registry.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add airship/apis project
  gerrit/acls/airship/apis.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove windmill docs jobs
  zuul.d/projects.yaml
Due: none

Bye, bye readthedocs-failing
  zuul.d/projects.yaml
Due: none

New charm and interface for placement split
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add openstacksdk /ara to opendev tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Override security mirror for Debian image builds
  nodepool/nodepool.yaml
Due: none

Add sphinx-contrib/openapi to untrusted github projects
  zuul/main.yaml
Due: project-config-check-main-yaml

python-dracclient zuulv3 changes
  zuul.d/projects.yaml
Due: none

Add top-level nested virt labels
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: none

Remove arm64ci-nrt1 (1/2)
  nodepool/nb03.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: none

Remove arm64ci-nrt1 (2/2)
  nodepool/nb03.openstack.org.yaml
Due: none

infra-pkg-needs: Update pkg-maps for CentOS 8, select chronyd
  nodepool/elements/infra-package-needs/pkg-map
  nodepool/elements/infra-package-needs/post-install.d/80-enable-infra-services
Due: none

zuul-worker: no selinux python2 libs on CentOS 8
  nodepool/elements/zuul-worker/pkg-map
Due: none

infra-package-needs: fix haveged install for all CentOS releases
  nodepool/elements/infra-package-needs/install.d/10-packages
Due: none

nodepool/elements : use abstracted commands
  nodepool/elements/infra-package-needs/install.d/10-pip-packages
  nodepool/elements/infra-package-needs/install.d/40-install-bindep
  nodepool/elements/nodepool-base/install.d/91-venv-os-testr
Due: none

Remove explicit set of DIB_SIMPLE_INIT_NETWORKMANAGER
  nodepool/nodepool.yaml
Due: none

CentOS 8 initial deployment
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none
