Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

gerritbot: notify stable branch changes to #openstack-horizon
  gerritbot/channels.yaml
Due: none

Add stable notifications to openstack-glance
  gerritbot/channels.yaml
Due: none

Add OVN charms
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Update neutron-tempest-plugin grafana dashboard
  grafana/neutron-tempest-plugin.yaml
Due: none

New charms & interfaces for MySQL8
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add gerrit-related projects to zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove references to OpenSUSE 423
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.base.template
  grafana/nodepool-dib.yaml
  grafana/openstack-ansible.yaml
  grafana/tempest.yaml
  nodepool/elements/bindep-fallback.txt
Due: project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters

Move gear to opendev tenant
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add gear to openstack for required-projects
  zuul/main.yaml
Due: project-config-check-main-yaml

Stop running centos-7 puppet jobs
  zuul.d/projects.yaml
Due: none

Retire puppet-yum - remove gate jobs
  zuul.d/projects.yaml
Due: none

Finish retiring puppet-yum
  gerrit/acls/opendev/puppet-yum.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove legacy-puppet4-centos-7
  zuul.d/projects.yaml
Due: none

Add openstack/barbican-ui
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Override security suite for Debian image builds
  nodepool/nodepool.yaml
Due: none

Add tracking for Train jobs
  grafana/neutron-tempest-plugin.yaml
Due: none

Remove opensuse-423 from nodepool
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Add jgit to gerrit repo list
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove qcow2 version 0.10 compat from our images
  nodepool/nodepool.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove packethost provider
  grafana/create-nodepool.sh
  grafana/nodepool-packethost.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nodepool.yaml
Due: openstack-tox-linters

Update neutron stable grafana dashboards
  grafana/neutron-stable-minusone.yaml
  grafana/neutron-stable-minustwo.yaml
Due: none

Add gerritbot trigger for OpenDev/x charm projects
  gerritbot/channels.yaml
Due: none

Update nodepool element for disk cache update
  nodepool/elements/nodepool-base/README.rst
  nodepool/elements/nodepool-base/extra-data.d/99-copy-nodepool-scripts
  nodepool/elements/nodepool-base/post-install.d/89-data-files
Due: none

Fix release jobs to work with prepare-workspace-git
  playbooks/release/pre.yaml
Due: none

Pause Fedora 30 builds
  nodepool/nodepool.yaml
Due: none

Stop building Fedora 28, turn down min-ready
  nodepool/nl01.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Remove fedora-28 nodes
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Update ceph grafana dashboard for nova master branch
  grafana/ceph.yaml
Due: none

Use opendev.org mirror for mtl01.inap region
  zuul/site-variables.yaml
Due: none

Enable inap-mtl01
  nodepool/nl03.openstack.org.yaml
Due: none

Grant permissions for Monasca UI to horizon-core
  gerrit/acls/openstack/monasca-ui.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Update ceph grafana dashboard for cinder master branch
  grafana/ceph.yaml
Due: none

Update Project Configs for x/ranger
  gerrit/acls/x/ranger.config
Due: none

arm64 images: add journal-to-console
  nodepool/nb03.openstack.org.yaml
Due: none

Increase tag-releases timeout
  zuul.d/jobs.yaml
Due: none

Grant permissions for solum-dashboard to horizon-core
  gerrit/acls/openstack/solum-dashboard.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Grant core permissions to horizon-core on cloudkitty-dashboard
  gerrit/acls/openstack/cloudkitty-dashboard.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml
