Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Bump min-ready for ubuntu-bionic
  nodepool/nl01.openstack.org.yaml
Due: none

Add shared 'oslo', 'oslo-independent' ACL files
  gerrit/acls/openstack/oslo-independent.config
  gerrit/acls/openstack/oslo-specs.config
  gerrit/acls/openstack/oslo.config
  gerrit/acls/openstack/oslo.context.config
  gerrit/acls/openstack/oslo.log.config
  gerrit/acls/openstack/oslo.serialization.config
  gerrit/acls/openstack/oslo.utils.config
  gerrit/acls/openstack/oslotest.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Update ACLs for moved doc projects
  gerrit/acls/openstack/openstackdocstheme.config
  gerrit/acls/openstack/whereto.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Update gerritbot channels for moved doc projects
  gerritbot/channels.yaml
Due: none

Update grafana nova master ceph job to -py3 version
  grafana/ceph.yaml
Due: none

Replace old Train cycle signing key with Ussuri
  zuul.d/secrets.yaml
Due: none

Remove python27 jobs from neutron dashboard
  grafana/neutron.yaml
Due: none

Remove puppet-module-unit-jobs from puppet-n1k-vsm
  zuul.d/projects.yaml
Due: none

New charm for manila-ganesha
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove opensuse-150
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.yaml
  grafana/openstack-ansible.yaml
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-linters

Grant permissions for murano-dashboard to horizon-core
  gerrit/acls/openstack/murano-dashboard.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add 'Review-Priority' for Neutron repos
  gerrit/acls/openstack/neutron.config
Due: none

Add tripleo-operator-ansible
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

zuul layout: include dib in zuul tenant for jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Revert "Enable inap-mtl01"
  nodepool/nl03.openstack.org.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add noop-jobs template for neutron-interconnection project
  zuul.d/projects.yaml
Due: none

Retire neutron-interconnection project
  gerrit/acls/openstack/neutron-interconnection.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add v2 branch for monitoring by IRC gerritbot
  gerritbot/channels.yaml
Due: none

Remove unused path variable from promote secrets
  zuul.d/secrets.yaml
Due: none

Drop broken legacy job from devstack
  zuul.d/projects.yaml
Due: none

Revert "Revert "Enable inap-mtl01""
  nodepool/nl03.openstack.org.yaml
Due: none

Add gerritbot trigger for microstack
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: none

Manage pyghmi jobs at project level
  zuul.d/projects.yaml
Due: none

Disable inap
  nodepool/nl03.openstack.org.yaml
Due: none

Revert "Disable inap"
  nodepool/nl03.openstack.org.yaml
Due: none

zuul layout: include openstacksdk in zuul tenant for jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Add missing repos for zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Create neutron-interconnection repo under x/ namespace
  gerrit/acls/x/neutron-interconnection.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Revert "zuul layout: include openstacksdk in zuul tenant for jobs"
  zuul/main.yaml
Due: project-config-check-main-yaml

Add zuul/nodepool and openstack/diskimage-builder to opendev tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Add cinder backup swift proxy charm and cinder backup interface
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

projects: add openstack/ansible-plugin-container-connection
  gerrit/acls/openstack/openstack-ansible-sig.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Disable fortnebula
  nodepool/nl02.openstack.org.yaml
Due: none

Revert "Disable fortnebula"
  nodepool/nl02.openstack.org.yaml
Due: none

Add 'Review-Priority' for Neutron stadium repos
  gerrit/acls/openstack/networking-bagpipe.config
  gerrit/acls/openstack/networking-bgpvpn.config
  gerrit/acls/openstack/networking-odl.config
  gerrit/acls/openstack/networking-sfc.config
  gerrit/acls/openstack/neutron-dynamic-routing.config
  gerrit/acls/openstack/neutron-fwaas-dashboard.config
  gerrit/acls/openstack/neutron-fwaas.config
  gerrit/acls/openstack/neutron-lib.config
  gerrit/acls/openstack/neutron-specs.config
  gerrit/acls/openstack/neutron-vpnaas-dashboard.config
  gerrit/acls/openstack/neutron-vpnaas.config
Due: none

Import openstacksdk and dib into zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
