Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Use python3 for translation jobs
  playbooks/translation/pre.yaml
Due: none

Add ozj to docs site
  docs-site/infra-documents.yaml
Due: none

Disable compression of files in stage-output role
  zuul/site-variables.yaml
Due: none

Add `sushy-cli` project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Retire x/dox (step 2)
  zuul.d/projects.yaml
Due: none

Finish retiring x/dox (step 4)
  gerrit/acls/x/dox.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add ovs and dpdk source to available repos
  zuul/main.yaml
Due: project-config-check-main-yaml

gerritbot: notify in #heat for stable branches
  gerritbot/channels.yaml
Due: none

Temporarily disable fortnebula
  nodepool/nl02.openstack.org.yaml
Due: none

Revert "Linaro London: use new bigger flavour"
  nodepool/nl03.openstack.org.yaml
Due: none

Add periodic panel to Octavia dashboard
  grafana/octavia.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

New repo: "ideas"
  gerrit/acls/openstack/ideas.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Define check-release-approval executor job
  playbooks/check-release-approval/run.yaml
  roles/check-release-approval/README.rst
  roles/check-release-approval/files/check_approval.py
  roles/check-release-approval/tasks/main.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-linters

Remove old openstack/js-openstack-lib jobs
  zuul.d/projects.yaml
Due: none

New charm for watcher
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Don't mirror wheels for pip/setuptools/virtualenv
  roles/copy-wheels/files/wheel-copy.sh
Due: openstack-tox-linters

x/cloudbase-init: remove openstack gates
  zuul.d/projects.yaml
Due: none

Update hacking, fix errors/warnings
  roles/copy-release-tools-scripts/files/release-tools/launchpad_add_comment.py
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
  tools/batch_update_projects.py
  tools/check_gerrit_projects_changed.py
  tools/check_irc_access.py
  tools/ci2project.py
  tools/fix-neutron-stadium.py
  tools/irc_tests.py
  tools/normalize_acl.py
  tools/normalize_channels_yaml.py
  tools/normalize_projects_yaml.py
  tox.ini
Due: openstack-tox-linters

Generate PEP503 index pages for wheel mirrors
  roles/copy-wheels/files/wheel-indexer.py
  roles/copy-wheels/tasks/main.yaml
Due: openstack-tox-linters

Fix wheel index generation
  roles/copy-wheels/tasks/main.yaml
Due: none

copy-wheels: ensure split actually splits
  roles/copy-wheels/tasks/main.yaml
Due: none

Use Bionic for translation jobs
  zuul.d/jobs.yaml
Due: none

copy-wheels : generate indexes version 2
  roles/copy-wheels/files/wheel-copy.sh
  roles/copy-wheels/files/wheel-indexer.py
  roles/copy-wheels/tasks/main.yaml
  roles/copy-wheels/tasks/py3.CentOS.7.yaml
  roles/copy-wheels/tasks/py3.default.yaml
Due: openstack-tox-linters

Add centos8 openafs client package build to periodic jobs
  zuul.d/projects.yaml
Due: none

Add <build|publish>-wheel-mirror-centos-8 jobs
  zuul.d/jobs.yaml
Due: none

copy-wheels: more fixes
  roles/copy-wheels/tasks/main.yaml
  roles/copy-wheels/tasks/py3.CentOS.7.yaml
Due: none

copy-wheel: package install needs to be root
  roles/copy-wheels/tasks/main.yaml
  roles/copy-wheels/tasks/py3.CentOS.7.yaml
  roles/copy-wheels/tasks/py3.default.yaml
Due: none

copy-wheels: fix index build
  roles/copy-wheels/files/wheel-copy.sh
  roles/copy-wheels/files/wheel-index.sh
  roles/copy-wheels/tasks/main.yaml
Due: openstack-tox-linters

copy-wheels: fix index path, remove f-strings
  roles/copy-wheels/files/wheel-index.sh
  roles/copy-wheels/files/wheel-indexer.py
Due: openstack-tox-linters

Update compute-hyperv test jobs
  zuul.d/projects.yaml
Due: none

Removed OpenstackId legacy jobs
  zuul.d/projects.yaml
Due: none

Revert "Disable compression of files in stage-output role"
  zuul/site-variables.yaml
Due: none

Add noop-jobs for zmq-event-publisher
  zuul.d/projects.yaml
Due: none

Retire x/zmq-event-publisher
  gerrit/acls/x/zmq-event-publisher.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove infra trusty jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Remove legacy-gearman-plugin-mavin-build-ubuntu-trusty
  zuul.d/projects.yaml
Due: none

Remove trusty wheel jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

copy-wheels: disable PEP503 indexing
  roles/copy-wheels/files/wheel-index.sh
Due: openstack-tox-linters
