Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Remove networking-l2gw jobs
  zuul.d/projects.yaml
Due: none

Cleanup in-tree removed jobs
  zuul.d/projects.yaml
Due: none

Move x/monitorstack jobs in-tree
  zuul.d/projects.yaml
Due: none

Add granular ACLs for Airship Projects
  gerrit/acls/airship/airship.config
  gerrit/acls/airship/pegleg.config
  gerrit/acls/airship/spyglass.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Drop neutron-functional job from devstack-gate
  zuul.d/projects.yaml
Due: none

Retire x/pbrx and openstack-infra/opendev-website (Step 1)
  zuul.d/projects.yaml
Due: none

fix neutron-lib grafana dashboard
  grafana/neutron-lib.yaml
Due: none

Update the neutron-lib failure rate dashboard
  grafana/neutron-lib.yaml
Due: none

Add stable branches to gerritbot for watcher
  gerritbot/channels.yaml
Due: none

Remove pbrx noop jobs
  zuul.d/projects.yaml
Due: none

Retire castellan-ui
  gerrit/acls/openstack/castellan-ui.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Rename charm-lxd to charm-nova-lxd
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Renaming of Public Cloud WG to Public Cloud SIG
  gerrit/acls/openstack/publiccloud-sig.config
  gerrit/acls/openstack/publiccloud-wg.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Rename request: airship-in-a-bottle
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Rename x/compute-hyperv to openstack/compute-hyperv
  gerrit/acls/openstack/compute-hyperv.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Rename x/pyeclib and x/liberasurecode to openstack/*
  gerrit/acls/openstack/liberasurecode.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Rename opendev projects we missed
  gerrit/acls/opendev/ansible-role-cloud-launcher.config
  gerrit/acls/opendev/ci-sandbox.config
  gerrit/acls/opendev/netlify-sandbox.config
  gerrit/acls/opendev/sandbox.config
  gerrit/acls/opendev/zone-opendev.org.config
  gerrit/acls/opendev/zone-zuul-ci.org.config
  gerrit/acls/x/os-http.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add constraints file
  zuul.d/jobs.yaml
Due: none

Fix mirror hostnames after opendev migration test
  zuul/site-variables.yaml
Due: none

Retire aeromancer
  gerrit/acls/x/aeromancer.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Publish infra-specs on docs.opendev.org
  specs/specs.yaml
  zuul.d/projects.yaml
Due: none

Update promote pipeline precedence
  zuul.d/pipelines.yaml
Due: none

Update infra-specs link
  docs-site/infra-index.html.tmpl
Due: none

Rename x/charm-vault to openstack/charm-vault
  gerrit/acls/openstack/charm-vault.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix ansible-role-cloud-launcher
  gerrit/acls/x/ansible-role-cloud-launcher.config
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix gerrit/projects.yaml sort order
  gerrit/projects.yaml
  tools/check_valid_gerrit_config.sh
Due: project-config-check-main-yaml, openstack-tox-linters

Use retired ACL everywhere
  gerrit/acls/openstack-attic/akanda.config
  gerrit/acls/openstack-attic/compute-api.config
  gerrit/acls/openstack-attic/database-api.config
  gerrit/acls/openstack-attic/identity-api.config
  gerrit/acls/openstack-attic/image-api.config
  gerrit/acls/openstack-attic/melange.config
  gerrit/acls/openstack-attic/netconn-api.config
  gerrit/acls/openstack-attic/object-api.config
  gerrit/acls/openstack-attic/openstack-qa.config
  gerrit/acls/openstack-attic/openstack-security-notes.config
  gerrit/acls/openstack-attic/oslo.version.config
  gerrit/acls/openstack-attic/python-melangeclient.config
  gerrit/acls/openstack-attic/volume-api.config
  gerrit/acls/stackforge-attic/cookbook-ceph.config
  gerrit/acls/stackforge-attic/cookbook-monasca-agent.config
  gerrit/acls/stackforge-attic/cookbook-monasca-api.config
  gerrit/acls/stackforge-attic/cookbook-monasca-notification.config
  gerrit/acls/stackforge-attic/cookbook-monasca-persister.config
  gerrit/acls/stackforge-attic/cookbook-monasca-schema.config
  gerrit/acls/stackforge-attic/cookbook-monasca-thresh.config
  gerrit/acls/stackforge-attic/fuel-plugin-external-nfs.config
  gerrit/acls/stackforge-attic/fuel-plugin-group-based-policy.config
  gerrit/acls/stackforge-attic/murano-common.config
  gerrit/acls/stackforge-attic/murano-conductor.config
  gerrit/acls/stackforge-attic/murano-docs.config
  gerrit/acls/stackforge-attic/murano-metadataclient.config
  gerrit/acls/stackforge-attic/murano-repository.config
  gerrit/acls/stackforge-attic/murano-tests.config
  gerrit/acls/stackforge-attic/tuskar-ui-extras.config
  gerrit/acls/stackforge-attic/zvm-driver.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove unused ACLs
  gerrit/acls/openstack-infra/ansible-build-image.config
  gerrit/acls/openstack-infra/config.config
  gerrit/acls/openstack-infra/gerrit-verification-status-plugin.config
Due: none

Readd x/os-http
  zuul/main.yaml
Due: project-config-check-main-yaml

Check ACLs for all namespaces
  tools/check_valid_gerrit_config.sh
  tox.ini
Due: openstack-tox-linters

Retire opendev-website (step 3)
  gerrit/acls/openstack-infra/opendev-website.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/opendev-jobs.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Retiring TripleO-UI
  zuul.d/projects.yaml
Due: none

Fix publish-infra-index job
  zuul.d/jobs.yaml
Due: none

Fix typo in publish-infra-index
  zuul.d/jobs.yaml
Due: none

Add registry test to zuul-jobs
  zuul.d/projects.yaml
Due: none

Update gerritbot channels for #ara
  gerritbot/channels.yaml
Due: none

Increase the size of ext4 journal on control plane images
  nodepool/nodepool.yaml
Due: none

Add ansible-playbook repo to starlingx
  gerrit/acls/starlingx/ansible-playbooks.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add api-ref for Qinling
  zuul.d/projects.yaml
Due: none

Remove glean config for OVH nodes
  nodepool/nl04.openstack.org.yaml
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
