Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Switch RAX ORD mirrors to new opendev.org mirrors
  zuul/site-variables.yaml
Due: none

Switch ovh/GRA1 to opendev.org mirror
  zuul/site-variables.yaml
Due: none

Add testing job to zuul-jobs
  zuul.d/projects.yaml
Due: none

Load extra Zuul config from zuul-jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Cache dstast_graph on nodepool images
  nodepool/elements/cache-devstack/source-repository-dstat_graph
Due: none

Remove zuul-jobs config
  zuul.d/projects.yaml
Due: none

Zuul-jobs: load extra config in openstack tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Mark networking-ovn-tempest-dsvm-ovs-release as voting
  grafana/neutron.yaml
Due: none

Upload test images to fortnebula cloud
  nodepool/nodepool.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Disable kafs servers for a bit
  zuul/site-variables.yaml
Due: none

Move gerritbot to #openstack-kolla for kayobe
  gerritbot/channels.yaml
Due: none

Adding CI for ironic-prometheus-exporter
  zuul.d/projects.yaml
Due: none

Add test nodes in fortnebula cloud
  nodepool/nl02.openstack.org.yaml
Due: none

Initiate retirement of openstack/docs-specs
  zuul.d/projects.yaml
Due: none

grafana: add FortNebula dashboard
  grafana/create-nodepool.sh
  grafana/nodepool-citycloud.yaml
  grafana/nodepool-fortnebula.yaml
  grafana/nodepool-limestone.yaml
  grafana/nodepool-linaro.yaml
  grafana/nodepool-ovh.yaml
  grafana/nodepool-packethost.yaml
  grafana/nodepool-rax.yaml
  grafana/nodepool-vexxhost.yaml
Due: openstack-tox-linters

Retire tempest-tripleo-ui
  zuul.d/projects.yaml
Due: none

Use opendev mirror in fortnebula cloud
  zuul/site-variables.yaml
Due: none

Scaling FN cloud back down to zero for ipv6 testing
  nodepool/nl02.openstack.org.yaml
Due: none

Drop tempest-tripleo-ui
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

nova-lxd: noop jobs as part of project retirement
  zuul.d/projects.yaml
Due: none

Retire docs-specs
  gerrit/acls/openstack/docs-specs.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  specs/specs.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

New repo for ranger-tempest-plugin
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add microstack project.
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Update description of some docs jobs
  zuul.d/jobs.yaml
Due: none

Move zuul/ repos to Zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix typo in Zuul tenant config
  zuul/main.yaml
Due: project-config-check-main-yaml

Temporarily shadow base-jobs in openstack-zuul-jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Move zuul/zuul-base-jobs to a config-project
  zuul/main.yaml
Due: project-config-check-main-yaml

Include nodesets in zuul/nodepool
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove zuul projects and jobs from the openstack tenant
  zuul.d/projects.yaml
  zuul.d/zuul-jobs.yaml
Due: none

Bringing Fort Nebula CI Cloud back online
  nodepool/nl02.openstack.org.yaml
Due: none

Add some github projects to the Zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Add temporary shadow to opendev/base-jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove temporary project shadows
  zuul/main.yaml
Due: project-config-check-main-yaml

Include nodesets from base-jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Include base-jobs nodesets in more tenants
  zuul/main.yaml
Due: project-config-check-main-yaml

Add required projects to zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove unused docs jobs from dashboard
  grafana/neutron-stable-minusone.yaml
  grafana/neutron-vpnaas.yaml
  grafana/neutron.yaml
Due: none

Scaling FNCI to 40 instances
  nodepool/nl02.openstack.org.yaml
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
