Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    bdist_wheel_xargs: --universal

test-release-openstack-python3:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
  ...

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Remove ansible-lint-jobs
  zuul.d/projects.yaml
Due: none

Set up cyborg-tempest-plugin repository
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Neutron-lbaas: temporarily remove pypi job
  zuul.d/projects.yaml
Due: none

Revert "Neutron-lbaas: temporarily remove pypi job"
  zuul.d/projects.yaml
Due: none

Move sqlalchemy-migrate jobs in-tree
  zuul.d/projects.yaml
Due: none

Update node to version 10 for release-zuul-python
  zuul.d/jobs.yaml
Due: none

Increase nodepool image journal size
  nodepool/nb03.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Fix nodejs version for publish-zuul-python-branch-tarball
  zuul.d/jobs.yaml
Due: none

Remove legacy-puppet-syntax-3-centos-7
  zuul.d/projects.yaml
Due: none

Fix typo in zuul tenant config
  zuul/main.yaml
Due: project-config-check-main-yaml

Update hacking to version 1.1
  tools/fix-neutron-stadium.py
  tox.ini
Due: openstack-tox-linters

Check zuul/main.yaml projects
  tools/check_valid_gerrit_projects.py
  tox.ini
Due: openstack-tox-linters

Update to ansible 2.7 for linting
  tox.ini
Due: openstack-tox-linters

Remove openstackci-beaker-ubuntu-trusty
  zuul.d/projects.yaml
Due: none

Remove puppet 3 jobs from puppet-midonet
  zuul.d/projects.yaml
Due: none

Remove fuel puppet 3 jobs
  zuul.d/projects.yaml
Due: none

Remove broken legacy-group-based-policy-dsvm-rally jobs
  zuul.d/projects.yaml
Due: none

Remove unused job publish-openstack-sphinx-docs-direct
  zuul.d/jobs.yaml
Due: none

Remove obsolete playbook for placement-api-ref
  playbooks/publish/placement-api-ref.yaml
Due: none

Switch api publish jobs to tox-docs
  playbooks/publish/api-docs.yaml
  playbooks/publish/api-ref.yaml
  zuul.d/jobs.yaml
Due: none

Finish moving python-jenkins jobs in-tree
  zuul.d/projects.yaml
Due: none

Remove fixtures-git jobs
  zuul.d/projects.yaml
Due: none

Switch some repos to PTI docs jobs
  zuul.d/projects.yaml
Due: none

Remove broken docs jobs from monasca-agent
  zuul.d/projects.yaml
Due: none

Remove git-upstream jobs
  zuul.d/projects.yaml
Due: none

Switch bindep fallback testing to openSUSE Leap 15.x
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Handle TOX_CONSTRAINTS_FILE as well as UPPER_CONSTRAINTS_FILE
  roles/copy-release-tools-scripts/files/release-tools/functions
Due: none

Add a Debian Buster image.
  grafana/create-nodepool-dib.sh
  nodepool/nb03.openstack.org.yaml
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: openstack-tox-linters

Drop jobs for devstack-plugins-sheepdog
  zuul.d/projects.yaml
Due: none

Remove devstack-plugin-sheepdog
  gerrit/acls/x/devstack-plugin-sheepdog.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Build ubuntu bionic minimal images for control plane
  nodepool/elements/control-plane-minimal/element-deps
  nodepool/elements/control-plane-minimal/package-installs.yaml
  nodepool/elements/control-plane-minimal/post-install.d/80-enable-haveged
  nodepool/elements/control-plane-minimal/post-install.d/80-enable-infra-services
  nodepool/elements/control-plane-minimal/post-install.d/89-sshd
  nodepool/nodepool.yaml
Due: none

Retire ansible-role-k8s-* repos
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

End Project Gating
  zuul.d/projects.yaml
Due: none

Switch rax.dfw mirror to opendev.org
  zuul/site-variables.yaml
Due: none

Use tox for publish-deploy-guide
  playbooks/publish/deploy-guide.yaml
  zuul.d/jobs.yaml
Due: none

Remove python-jobs-trusty
  zuul.d/projects.yaml
Due: none

Remove in-tree job from networking-bigswitch
  zuul.d/projects.yaml
Due: none

Update git load balancer for OpenDev
  grafana/git.yaml
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
