Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add new Neutron jobs to Grafana dashboard
  grafana/neutron.yaml
Due: none

projects: add vexxhost/ansible-role-openmanage
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

starlingx: add zuul-jobs repo
  gerrit/acls/starlingx/zuul-jobs.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Enable Review Priority flag for Monasca
  gerrit/acls/openstack/monasca.config
Due: none

Report the build page url in Zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Add api-ref jobs for adjutant
  zuul.d/projects.yaml
Due: none

Add ansible-role-uwsgi project
  gerrit/projects.yaml
Due: project-config-check-main-yaml

End gating for os-acc as that project is about to be retired.
  zuul.d/projects.yaml
Due: none

Add ceph/ceph-ansible to untrusted github projects
  zuul/main.yaml
Due: project-config-check-main-yaml

projects: add openstack/ansible-role-uwsgi to zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Set default-ansible-version to 2.7 for all tenant (minus zuul)
  zuul/main.yaml
Due: project-config-check-main-yaml

ircbot: add #openstack-ansible-sig to bots
  accessbot/channels.yaml
Due: none

Add promote-openstack-manuals jobs
  playbooks/publish/manuals.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Fix download_artifact_job names for manuals jobs
  zuul.d/jobs.yaml
Due: none

Rename manuals build jobs
  zuul.d/jobs.yaml
Due: none

Add promote api-ref/guide jobs
  playbooks/api-jobs/promote.yaml
  zuul.d/jobs.yaml
Due: none

Fix download_artifact_job for promote-openstack-manuals-developer
  zuul.d/jobs.yaml
Due: none

Add promote-openstack-tox-docs
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

projects: add vexxhost/kue
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove Ranger testing control from project-config
  zuul.d/projects.yaml
Due: none

Local NVME drives on FN complete - remove boot from volume
  nodepool/nl02.openstack.org.yaml
Due: none

Remove now obsolete publish-jobs
  playbooks/publish/api-docs.yaml
  playbooks/publish/manuals.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: none

Include ref info on stmp reporter subjects
  zuul.d/pipelines.yaml
Due: none

Stop treating .gz files as special in log handling
  roles/submit-log-processor-jobs/library/submit_log_processor_jobs.py
Due: openstack-tox-linters

Fix promote api-ref jobs
  zuul.d/jobs.yaml
Due: none

Fix docs promote publishing
  zuul.d/secrets.yaml
Due: none

Fix publish path for api-jobs
  playbooks/api-jobs/promote.yaml
Due: none

Restrict release-wheel-mirror job to master
  zuul.d/jobs.yaml
Due: none

Add more promote docs jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: none

Remove publish-openstack-tox-docs-direct
  zuul.d/jobs.yaml
Due: none

Add os_murano project
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix branch path for promote job
  zuul.d/secrets.yaml
Due: none

Add starlingx promote jobs
  zuul.d/secrets.yaml
  zuul.d/starlingx-jobs.yaml
Due: none

AFS grafana : add yum-puppetlabs
  grafana/afs.yaml
Due: none

Add uwsgi role to gerritbot
  gerritbot/channels.yaml
Due: none

Add more promote jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: none

Fix promote-docs-infra
  zuul.d/jobs.yaml
Due: none

Remove now obsolete publish jobs
  playbooks/api-jobs/promote.yaml
  playbooks/publish/contributor-guide-afs.yaml
  zuul.d/jobs.yaml
Due: none

Set protected for propose-updates job
  zuul.d/jobs.yaml
Due: none
