Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, project-config-frozen-files, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre
  run: playbooks/project-config/run-tox
  post-run: playbooks/check-main-yaml/post
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-frozen-files:
  description: 'Check for frozen Zuul v2 files.
  
    '
  run: playbooks/frozen-v2/run
  allowed-projects:
  - openstack-infra/project-config

set committer email to match the gerrit user for release jobs
  jenkins/scripts/release-tools/functions
Due: none

Fix neutron-lbaas-dashboard to use -horizon jobs
  zuul.d/projects.yaml
Due: none

Remove migrated legacy-octavia-dashboard-*
  zuul.d/projects.yaml
Due: none

Fix releasenotes job for VPNaaS
  zuul.d/projects.yaml
Due: none

Requirements propose_updates runs master only
  zuul.d/projects.yaml
Due: none

Follow up change for networking-spp creation
  zuul.d/projects.yaml
Due: none

Fix branch check for proposal script
  jenkins/scripts/propose_update.sh
Due: openstack-tox-linters

Run bindep for proposal jobs
  bindep.txt
  playbooks/proposal/pre.yaml
Due: openstack-tox-linters

Default clone_repo to master if branch not found
  jenkins/scripts/release-tools/clone_repo.sh
Due: openstack-tox-linters

Fix Puppet integration jobs to run on master only
  zuul.d/projects.yaml
Due: none

Remove py27-based template for nodepool
  zuul.d/projects.yaml
Due: none

Fix typo in static ssh key secret
  zuul.d/secrets.yaml
Due: none

Removes migrated legacy-octavia-*
  zuul.d/projects.yaml
Due: none

Use synchronize to upload to static site
  playbooks/publish/static.yaml
Due: none

Fix publish jobs
  playbooks/publish/api-guide.yaml
  playbooks/publish/api-ref.yaml
  playbooks/publish/contributor-guide-afs.yaml
  playbooks/publish/deploy-guide.yaml
Due: none

Revert "Move to dictionary list of projects zuul._projects"
  playbooks/release/pre.yaml
  roles/use-cached-repos/tasks/main.yaml
Due: none

Fix propose_update REFNAME handling
  jenkins/scripts/propose_update.sh
Due: openstack-tox-linters

Remove double $PROJECT from translation publishing
  jenkins/scripts/common_translation_update.sh
Due: openstack-tox-linters

move git configuration for release jobs to ansible tasks
  jenkins/scripts/release-tools/functions
  jenkins/scripts/release-tools/update_constraints.sh
  playbooks/proposal/pre.yaml
  playbooks/release/pre.yaml
  roles/configure-git/README.rst
  roles/configure-git/defaults/main.yaml
  roles/configure-git/tasks/main.yaml
Due: openstack-tox-linters

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

[ec2-api] Increase timeout for rally job
  zuul.d/projects.yaml
Due: none

Remove now redundant git review setup
  jenkins/scripts/common.sh
Due: openstack-tox-linters

Rename oslo.messaging legacy jobs
  zuul.d/projects.yaml
Due: none

Fix placement-api jobs
  playbooks/publish/placement-api-ref.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Grafana: scale zuul executor load correctly
  grafana/zuul-status.yaml
Due: none

Use write-root-marker role
  playbooks/publish/releasenotes.yaml
Due: none

Revert "Fix branch check for proposal script"
  jenkins/scripts/propose_update.sh
Due: openstack-tox-linters

Fix wheel/release
  playbooks/wheel/release.yaml
Due: none

Grafana: fix zuul job launch graph
  grafana/zuul-status.yaml
Due: none

Grafana: fix gerrit event graph
  grafana/zuul-status.yaml
Due: none

Grafana: fix zuul pipeline gauges
  grafana/zuul-status.yaml
Due: none

Fix flake8
  jenkins/scripts/check_osc_commands.py
  jenkins/scripts/get-modulename.py
  jenkins/scripts/project-requirements-change.py
  jenkins/scripts/tardiff.py
  jenkins/scripts/xstatic_check_version.py
  nodepool/elements/cache-devstack/extra-data.d/55-cache-devstack-repos
  nodepool/elements/initialize-urandom/static/usr/local/bin/initialize-urandom.py
  nodepool/elements/openstack-repos/extra-data.d/50-create-repo-list
  roles/submit-log-processor-jobs/library/submit_log_processor_jobs.py
  tools/check_gerrit_projects_changed.py
  tools/check_valid_gerrit_projects.py
  tools/irc_tests.py
  tools/normalize_acl.py
  tools/normalize_channels_yaml.py
  tools/normalize_projects_yaml.py
  tox.ini
Due: openstack-tox-linters

Run pep8 everywhere
  tools/add-projects-to-main.py
  tools/ci2project.py
  tools/normalize_projects_yaml.py
  tox.ini
Due: openstack-tox-linters

Ignore some more pep8 errors
  tox.ini
Due: openstack-tox-linters

Add multinode-integration jobs to zuul-jobs
  zuul.d/projects.yaml
Due: none

Use new targets for Test Nodes panel
  grafana/zuul-status.yaml
Due: none

Remove legacy jobs from ansible-role-shade
  zuul.d/projects.yaml
Due: none

Add ansible-role-k8s-(keystone|mariadb) to zuul.d
  zuul.d/projects.yaml
Due: none

devstack-plugin list : run on on master only
  zuul.d/projects.yaml
Due: none

Add translation semaphore
  zuul.d/jobs.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-frozen-files: any of: zuul/layout.yaml, ^jenkins/jobs/.*
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
