Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Update static.o.o publishing
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Remove publish-static
  zuul.d/jobs.yaml
Due: none

[rally] Remove readthedocs jobs
  zuul.d/projects.yaml
Due: none

Add new charm repositories
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix ansible-role-cloud-launcher docs
  zuul.d/projects.yaml
Due: none

Move os-loganalize job definition inside the project
  zuul.d/projects.yaml
Due: none

Set ansible's default branch to devel
  zuul.d/projects.yaml
Due: none

Remove check-python-release role
  playbooks/pti-python-tarball/check.yaml
  roles/check-python-release/README.rst
  roles/check-python-release/defaults/main.yaml
  roles/check-python-release/tasks/main.yaml
Due: none

ensure twine is installed with python 3
  zuul.d/jobs.yaml
Due: none

nodepool: Add arm64ci cloud
  nodepool/nb03.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: none

grafana bridge.o.o : add cloud launcher runtime
  grafana/bridge.yaml
Due: none

Update bindep-fallback for openSUSE 15.0
  nodepool/elements/bindep-fallback.txt
Due: project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial

Retire openstack-ansible-os_monasca-ui
  zuul.d/projects.yaml
Due: none

Add new documentation project for The Four Opens
  gerrit/acls/openstack/four-opens.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix docs-on-readthedocs for ara
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Set translate option for contributor-guide
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Create the openstack/ara-infra project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Translate contributor-guide
  zuul.d/projects.yaml
Due: none

Add operations-docs to storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Move elastic-recheck zuul jobs definitions inside project repo
  zuul.d/projects.yaml
Due: none

Fix arm64ci cloud names
  nodepool/nl03.openstack.org.yaml
Due: none

Retire openstack-ansible-os_monasca-ui
  gerrit/acls/openstack/openstack-ansible-os_monasca-ui.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Create publish-zuul-python-branch-tarball job
  zuul.d/jobs.yaml
Due: none

add jobs to publish library from governance repo
  zuul.d/projects.yaml
Due: none

Halve ovh-bhs1 max-servers temporarily
  nodepool/nl04.openstack.org.yaml
Due: none

Revert "Halve ovh-bhs1 max-servers temporarily"
  nodepool/nl04.openstack.org.yaml
Due: none

Adding repo and Sotryboard for the Edge Comptuing Group
  gerrit/acls/openstack/edge-computing-group.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove ansible-role-redhat-subscription from central repo
  zuul.d/projects.yaml
Due: none

Set yarn_lock_file_path for zuul-tarball jobs
  playbooks/zuul-tarball/pre.yaml
Due: none

Create opendev-website project
  gerrit/acls/openstack-infra/opendev-website.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
Due: project-config-check-main-yaml

Add 'Review-Priority' for Cinder repos
  gerrit/acls/openstack/cinder.config
Due: none

Add opendev-website project to Zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Add opendev-website jobs
  playbooks/publish/opendev-afs.yaml
  zuul.d/opendev-jobs.yaml
Due: none

Create airship-spyglass repo
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add openstack/arch-design
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Create promstat project
  gerrit/acls/openstack/promstat.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
Due: project-config-check-main-yaml

Add promstat project to Zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Temporarily disable ovh-bhs1 in nodepool
  nodepool/nl04.openstack.org.yaml
Due: none
