Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    bdist_wheel_xargs: --universal

test-release-openstack-python3:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
  ...

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Add kata-containers/proxy to the Kata tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Add os_mistral role to OpenStack-Ansible
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

No longer test kata-containers in 3rd-party-check
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add Kata repositories to the Kata tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove legacy-tempest-dsvm-full-drbd-devstack
  zuul.d/projects.yaml
Due: none

Remove some base jobs
  playbooks/base/post-logs.yaml
  playbooks/base/post.yaml
  playbooks/base/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Remove openstack/instack
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add openstack-zuul-jobs to base-publish-tox-docs-static
  zuul.d/jobs.yaml
Due: none

Fix translation jobs due to opendev/base-job change
  zuul.d/jobs.yaml
Due: none

Fix releasenotes publishing after opendev/base-jobs change
  zuul.d/jobs.yaml
Due: none

Announce changes to governance-{sigs,website} on IRC
  gerritbot/channels.yaml
Due: none

Devstack for PowerMax/ VMAX
  gerrit/acls/openstack/devstack-plugin-vmax.config
Due: none

Stop using OpenDNS
  nodepool/elements/nodepool-base/README.rst
  nodepool/elements/nodepool-base/environment.d/75-nodepool-base-env
  nodepool/elements/nodepool-base/finalise.d/89-unbound
Due: none

swift: gerritbot alert on all the branches
  gerritbot/channels.yaml
Due: none

Add noop jobs to opendev/base-jobs
  zuul.d/projects.yaml
Due: none

Fix use of old site_logs secerts
  playbooks/base-minimal/post-logs.yaml
  playbooks/base-ozj/post-logs.yaml
  playbooks/base-test/post-logs.yaml
  playbooks/publish/openstack-specs-site.yaml
  playbooks/publish/openstack-specs.yaml
  playbooks/publish/service-types.yaml
  tests/vars.yaml
Due: none

Cleanup ozj confingure-unbound usage
  nodepool/elements/nodepool-base/finalise.d/89-unbound
  playbooks/base-test/post-logs-swift.yaml
  playbooks/base-test/post-logs.yaml
  playbooks/base-test/post.yaml
  playbooks/base-test/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Add opendev/base-jobs to gerritbot
  gerritbot/channels.yaml
Due: none

Remove opendev/base-jobs jobs
  zuul.d/projects.yaml
Due: none

Remove unused pbrx container publish job
  zuul.d/jobs.yaml
Due: none

Update tenant config for opendev
  zuul/main.yaml
Due: project-config-check-main-yaml

Rework to use new upload-forge module
  playbooks/publish/puppetforge.yaml
  zuul.d/jobs.yaml
Due: none

Add more whitespace to zuul tenant config
  zuul/main.yaml
Due: project-config-check-main-yaml

Add zuul-preview project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Move networking-ansible jobs to its project
  zuul.d/projects.yaml
Due: none

Add new python 3 Neutron jobs to grafana dashboard
  grafana/neutron.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove rtd_web_hook from networking-ansible
  zuul.d/projects.yaml
Due: none

Add a job to use the intermediate registry
  playbooks/buildset-registry/post.yaml
  playbooks/buildset-registry/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Disable inap region due to duplicate IPs
  nodepool/nl03.openstack.org.yaml
Due: none

Update Puppetforge secret
  zuul.d/secrets.yaml
Due: none

Revert "Disable inap region due to duplicate IPs"
  nodepool/nl03.openstack.org.yaml
Due: none

Add cinderlib project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Enable DIB_SHOW_IMAGE_USAGE for build
  nodepool/nodepool.yaml
Due: none

Remove cinderlib from storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove tox-py35-on-zuul from zuul-jobs
  zuul.d/projects.yaml
Due: none

Add nodepool-dib dashboard
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.base.template
  grafana/nodepool-dib.image.template
  grafana/nodepool-dib.yaml
Due: openstack-tox-linters

Remove buildset registry job
  playbooks/buildset-registry/post.yaml
  playbooks/buildset-registry/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
