Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

Move external propose-updates changes to project-config
  zuul.d/projects.yaml
Due: none

Rotate proposal-bot key
  zuul.d/secrets.yaml
Due: none

Revert SSH fingerprint of review.opendev.org
  zuul.d/secrets.yaml
Due: none

Fix secret for promote-stx-tox-docs
  zuul.d/secrets.yaml
Due: none

Cleanup roles that have moved to opendev/base-jobs
  roles/submit-log-processor-jobs/README.rst
  roles/submit-log-processor-jobs/library/submit_log_processor_jobs.py
  roles/submit-logstash-jobs/README.rst
  roles/submit-logstash-jobs/defaults/main.yaml
  roles/submit-logstash-jobs/meta/main.yaml
  roles/submit-logstash-jobs/tasks/main.yaml
  roles/submit-subunit-jobs/README.rst
  roles/submit-subunit-jobs/defaults/main.yaml
  roles/submit-subunit-jobs/meta/main.yaml
  roles/submit-subunit-jobs/tasks/main.yaml
Due: openstack-tox-linters

Retire swauth - stop gating
  zuul.d/projects.yaml
Due: none

Retire swauth - remove project
  accessbot/channels.yaml
  gerrit/acls/x/swauth.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add PDF to api promote job
  playbooks/api-jobs/promote.yaml
Due: none

Add promote jobs for static site / releasenotes
  playbooks/static-docs/promote.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: none

Remove now unused publish jobs
  zuul.d/jobs.yaml
Due: none

Add allowed-projects to static publish jobs
  zuul.d/jobs.yaml
Due: none

Fix paths for static docs playbook
  zuul.d/jobs.yaml
Due: none

Fix pipelines for promote jobs
  zuul.d/projects.yaml
Due: none

static-docs: use target from fileserver
  playbooks/static-docs/promote.yaml
Due: none

Stop gating for networking-generic-switch-tempest-plugin
  gerritbot/channels.yaml
  zuul.d/projects.yaml
Due: none

Identify Cinder as the Block Storage Service
  specs/specs.yaml
Due: none

New project request: airship/images
  gerrit/acls/airship/images.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

zuul: add openstack/magnum to opendev
  zuul/main.yaml
Due: project-config-check-main-yaml

Manages build reqs in python-redfish project
  zuul.d/projects.yaml
Due: none

Increase timeout for promote-openstack-manuals
  zuul.d/jobs.yaml
Due: none

Manages build reqs in alexandria project
  zuul.d/projects.yaml
Due: none

Lowering max-servers for FN to accomdate NUMA
  nodepool/nl02.openstack.org.yaml
Due: none

New charm for cinder integration with Purestorage
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Finish retiring networking-generic-switch-tempest-plugin
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Adding in proper NUMA labels for FN
  nodepool/nl02.openstack.org.yaml
Due: none

Add file matcher to releasenotes promote job
  zuul.d/jobs.yaml
Due: none

Remove broken notification for starlingx
  gerritbot/channels.yaml
Due: none

StarlingX retructuring: Ten new repos
  gerrit/acls/starlingx/compile.config
  gerrit/acls/starlingx/config-files.config
  gerrit/acls/starlingx/containers.config
  gerrit/acls/starlingx/helm-charts.config
  gerrit/acls/starlingx/monitor-armada-app.config
  gerrit/acls/starlingx/monitoring.config
  gerrit/acls/starlingx/openstack-armada-app.config
  gerrit/acls/starlingx/platform-armada-app.config
  gerrit/acls/starlingx/stx-puppet.config
  gerrit/acls/starlingx/utilities.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

testinfra : add system-config as required project
  zuul.d/projects.yaml
Due: none

Scaling FN down to 0 for backup gen install
  nodepool/nl02.openstack.org.yaml
Due: none

Add Fedora 30 nodes
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.yaml
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: openstack-tox-linters

Fix promote-stx-api-ref
  zuul.d/starlingx-jobs.yaml
Due: none

Add per-project Airship groups
  gerrit/acls/airship/armada.config
  gerrit/acls/airship/deckhand.config
  gerrit/acls/airship/divingbell.config
  gerrit/acls/airship/drydock.config
  gerrit/acls/airship/governance.config
  gerrit/acls/airship/promenade.config
  gerrit/acls/airship/shipyard.config
  gerrit/acls/airship/tempest-plugin.config
  gerrit/acls/airship/treasuremap.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add pravega/zookeeper-operator to zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Bringing FN back online for CI Jobs
  nodepool/nl02.openstack.org.yaml
Due: none

End project gating for charm-neutron-api-genericswitch
  zuul.d/projects.yaml
Due: none

Remove charm-neutron-api-genericswitch from infra
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Report openstack/election repo changes in IRC
  gerritbot/channels.yaml
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
