Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Add ansible-role-collect-logs project to TripleO
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add tap-as-a-service-tempest-plugin repo
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add Zuul project-config repo
  gerrit/acls/zuul/project-config.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Define a specific Zuul tenant for Zuul project
  zuul/main.yaml
Due: project-config-check-main-yaml

Add OpenDev project-config repo
  gerrit/acls/opendev/project-config.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add an OpenDev Zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Set opendev/base-jobs to use storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add job to test upload-git-mirror on zuul-jobs
  zuul.d/projects.yaml
Due: none

Gerritbot: add zuul/project-config to #zuul
  gerritbot/channels.yaml
Due: none

Add some projects to zuul zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove legacy-networking-vpp-smoke
  zuul.d/projects.yaml
Due: none

Add openstack/freezer-tempest-plugin build job
  zuul.d/projects.yaml
Due: none

Trove: use storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Stop nova-specs announcing in #openstack-placement
  gerritbot/channels.yaml
Due: none

Complete zuul-sphinx removal from openstack tenant
  zuul.d/projects.yaml
  zuul.d/zuul-jobs.yaml
Due: none

Add api-ref-jobs for Cyborg
  zuul.d/projects.yaml
Due: none

Add grenade-py3 job to Neutron Grafana dashboard
  grafana/neutron.yaml
Due: none

Enable Cyborg release team to push merge commits.
  gerrit/acls/openstack/cyborg.config
Due: none

Stop project gating before retirement
  zuul.d/projects.yaml
Due: none

New charms & interface for Masakari integration
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add whitebox-tempest-plugin project
  gerrit/acls/openstack/whitebox-tempest-plugin.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Retire linaro-cn1
  nodepool/nb03.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: none

Initiate retirement of oslosphinx
  zuul.d/projects.yaml
Due: none

Remove City Cloud LA1 region
  nodepool/nl02.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Migrate vexxhost roles to OpenDev
  gerrit/acls/vexxhost/vexxhost.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Retire openstack-ansible unused roles
  zuul.d/projects.yaml
Due: none

Migrate inaugust git repos to opendev
  gerrit/acls/inaugust/inaugust.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Adds contributor guide repo to Upstream Institute channel
  gerritbot/channels.yaml
Due: none

Only pull in jobs from opendev/base-jobs to openstack
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove project config for api-sig repo
  zuul.d/projects.yaml
Due: none

Remove upstream lines from gerrit/projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove zuul_reconfigure CD job
  zuul.d/projects.yaml
Due: none

Add networking-midonet-tempest-aio-ml2-centos-7 to neutron dashboard
  grafana/neutron.yaml
Due: none

Some python yaml fixes
  gerrit/projects.yaml
  gerritbot/channels.yaml
  tools/check-channels-yaml.sh
  tools/check_gerrit_projects_changed.py
  tools/check_irc_access.py
  tools/fix-neutron-stadium.py
  tools/irc_tests.py
  tools/normalize_channels_yaml.py
  tools/normalize_projects_yaml.py
  tools/projectconfig_ruamellib.py
  tools/projectconfig_yamllib.py
  tox.ini
Due: project-config-check-main-yaml, openstack-tox-linters

Add some helpers to projectconfig_ruamellib
  tools/normalize_channels_yaml.py
  tools/normalize_projects_yaml.py
  tools/projectconfig_ruamellib.py
Due: openstack-tox-linters

Add a new project networking-omnipath
  gerrit/acls/openstack/networking-omnipath.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add airship-governance project
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Update taas grafana dashboard
  grafana/tap-as-a-service.yaml
Due: none

Fix propose-project-config-update
  tools/propose_projects_yaml_update.sh
  tox.ini
Due: openstack-tox-linters

Add vexxhost/ansible-role-docker-distribution
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml
