Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Update horizon grafana dashboard
  grafana/horizon.yaml
Due: none

Allow all TC members +W access
  gerrit/acls/openstack/governance.config
Due: none

FN needs to give a little more juice
  nodepool/nl02.openstack.org.yaml
Due: none

Fix secret for promote-tox-docs-special-base
  zuul.d/secrets.yaml
Due: none

FN can bump up another 20
  nodepool/nl02.openstack.org.yaml
Due: none

Disable fortnebula cloud
  nodepool/nl02.openstack.org.yaml
Due: none

Re-enable FN for custom jobs
  nodepool/nl02.openstack.org.yaml
Due: none

Tighten formatting for new branch reno page title
  roles/copy-release-tools-scripts/files/release-tools/add_release_note_page.sh
Due: openstack-tox-linters

Slowly scale FN back up
  nodepool/nl02.openstack.org.yaml
Due: none

Retransmit count with IPv6 is still unacceptable on FN
  nodepool/nl02.openstack.org.yaml
Due: none

Direct Mirror route + Path MTU fixed Reenable FN
  nodepool/nl02.openstack.org.yaml
Due: none

Fixes for FN seem to have worked - scaling up
  nodepool/nl02.openstack.org.yaml
Due: none

FN networking issued have been solved
  nodepool/nl02.openstack.org.yaml
Due: none

Rename x/ansible-role-cloud-launcher -> opendev/
  gerrit/acls/opendev/ansible-role-cloud-launcher.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Switch project-config to promote jobs [1]: Disable publish
  zuul.d/projects.yaml
Due: none

Switch project-config to promote jobs [3]: Update building
  .gitignore
  docs-site/generate_infra_index.py
  specs/generate_specs_site.py
  tox.ini
Due: openstack-tox-linters

Switch project-config to promote jobs [4]: Add promote jobs
  playbooks/publish/infra-index.yaml
  playbooks/publish/openstack-specs-site.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: none

Switch project-config to promote jobs [6]: Remove publish-openstack-specs
  zuul.d/jobs.yaml
Due: none

Always publish infra documents
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add promote pipeline to grafana
  grafana/zuul-status.yaml
Due: none

Temp Shutdown of FN for backup generator testing
  nodepool/nl02.openstack.org.yaml
Due: none

revert "Temp Shutdown of FN for backup generator testing"
  nodepool/nl02.openstack.org.yaml
Due: none

Fix gerritbot sorting
  gerritbot/channels.yaml
Due: none

Make whitebox use Storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Report openstack/election in #openstack-election
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: none

Retiring project os-acc.
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fedora 30 : add python-path for Python 3
  nodepool/nodepool.yaml
Due: none

Fix release ACL for Kayobe
  gerrit/acls/openstack/kayobe.config
Due: none

Remove accessbot from #openstack-kayobe
  accessbot/channels.yaml
Due: none

Enable Review-Priority flag for Blazar
  gerrit/acls/openstack/blazar.config
Due: none

Update gentoo image to current profile
  nodepool/nodepool.yaml
Due: none

Update infra and specs indices
  docs-site/infra-documents.yaml
  specs/specs.yaml
Due: none

Add zuul-registry project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add the gerrit checks plugin repo to Zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Add upstream Gerrit projects to OpenDev Zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Add system-config and zuul to OpenDev tenant for jobs
  zuul/main.yaml
Due: project-config-check-main-yaml

Announce opendev/project-config changes in channels
  gerritbot/channels.yaml
Due: none

Fix the zuul main.yaml config checks
  tools/check_valid_gerrit_projects.py
Due: openstack-tox-linters

Stop gerrit notification to neutron-stadium specific channels
  gerritbot/channels.yaml
Due: none

Add horizon to translation jobs
  playbooks/translation/propose-translation-update.yaml
  playbooks/translation/upstream-translation-update.yaml
  zuul.d/jobs.yaml
Due: none
