Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Fix ceph failure rate grafana dashboard
  grafana/ceph.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Switch from 1.1.1.1 to 1.0.0.1
  nodepool/elements/nodepool-base/README.rst
  nodepool/elements/nodepool-base/environment.d/75-nodepool-base-env
  nodepool/elements/nodepool-base/finalise.d/89-unbound
Due: none

Don't announce osf/ projects in openstack-infra/opendev
  gerritbot/channels.yaml
Due: none

Add glance, tempest, and nova stable* to ceph grafana
  grafana/ceph.yaml
Due: none

Set min-ready 0 on vexxhost specific labels
  nodepool/nl03.openstack.org.yaml
Due: none

Disable inap-mtl01
  nodepool/nl03.openstack.org.yaml
Due: none

Revert "Revert "Revert "nodepool: pause ovh"""
  nodepool/nl04.openstack.org.yaml
Due: none

Notify #openstack-ptg IRC channel on ptgbot dev activity
  gerritbot/channels.yaml
Due: none

Stop master translations for tripleo-ui
  zuul.d/projects.yaml
Due: none

Add spyglass-plugin-xls project
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add openstack/tenks Ansible dependencies
  zuul/main.yaml
Due: project-config-check-main-yaml

Retire cloud-init
  gerrit/acls/x/cloud-init.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove docs-on-readthedocs-failing from kloudbuster project
  zuul.d/projects.yaml
Due: none

Retire xstatic-vis and xstatic-angular-ui-router projects
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add new Keystone SAML Mellon charm repositories
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Initiate retirement of bilean, python-bileanclient
  zuul.d/projects.yaml
Due: none

Initiate retirement of hurricane
  zuul.d/projects.yaml
Due: none

Retire ailuropoda
  accessbot/channels.yaml
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Correct SB project groups data type
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add github eventlet/eventlet to project list
  zuul/main.yaml
Due: project-config-check-main-yaml

Check groups entry in gerrit/projects
  tools/check_valid_gerrit_projects.py
Due: openstack-tox-linters

Make bindep fallback only happen in openstack
  zuul/site-variables.yaml
Due: none

add version map for python3.6 to 3.7
  playbooks/proposal/propose_update.sh
Due: openstack-tox-linters

Initiate retirement of aeromancer
  zuul.d/projects.yaml
Due: none

Move Telemetry to Storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove unnecessary pyeclib configuration from zuul.d
  zuul.d/projects.yaml
Due: none

wheel-build: Work around pip 19.0 errors
  roles/build-wheels/files/wheel-build.sh
Due: openstack-tox-linters

Add testinfra 3rd party testing
  zuul.d/projects.yaml
Due: none

openafs-client : update kdc servers
  playbooks/openafs-client/setup.yaml
Due: none

Fix stats for neutron grafana page
  grafana/neutron.yaml
Due: none

Create 'Backport-Candidate' for Octavia repos
  gerrit/acls/openstack/octavia-dashboard.config
  gerrit/acls/openstack/octavia-lib.config
  gerrit/acls/openstack/octavia.config
  gerrit/acls/openstack/python-octaviaclient.config
  tools/normalize_acl.py
Due: openstack-tox-linters

Stop building barbican api-ref
  zuul.d/projects.yaml
Due: none

Update translations for magnum-ui, manila-ui, operations-guide
  zuul.d/projects.yaml
Due: none

Add spectroscope repository
  gerrit/acls/x/spectroscope.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove charm-vault from zuul.d/projects.yaml
  zuul.d/projects.yaml
Due: none

Set up cyborg-tempest-plugin repository
  zuul.d/projects.yaml
Due: none

Add docs build job for StarlingX election
  zuul.d/starlingx-jobs.yaml
Due: none

Retiring neutron-lbaas and neutron-lbaas-dashboard
  zuul.d/projects.yaml
Due: none

Remove obsolete rally jobs
  zuul.d/projects.yaml
Due: none
