Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, test-release-openstack-python3, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-423, project-config-bindep-fallback-ubuntu-trusty, project-config-bindep-fallback-ubuntu-xenial, openstack-tox-linters, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    bdist_wheel_xargs: --universal

test-release-openstack-python3:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    bdist_wheel_xargs: --universal

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
  ...

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-423:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 42.3.
  
    '
  nodeset: opensuse-423

project-config-bindep-fallback-ubuntu-trusty:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Trusty.
  
    '
  nodeset: ubuntu-trusty

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

DIB grafana dashboard small fixes
  grafana/nodepool-dib.base.template
  grafana/nodepool-dib.image.template
  grafana/nodepool-dib.yaml
Due: none

Add github gnocchixyz/gnocchi to project list
  zuul/main.yaml
Due: project-config-check-main-yaml

Add ``ceph-rbd-mirror`` charm and dependencies
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Set up placement project to use storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add rsd-virt-for-nova project
  gerrit/acls/openstack/rsd-virt-for-nova.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add openstack-tox-py37 job to Neutron dashboard
  grafana/neutron.yaml
Due: none

Use publish-to-pypi for instack-undercloud
  zuul.d/projects.yaml
Due: none

Add philpep/testinfra to Zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Add windmill-config project
  gerrit/acls/openstack/windmill-config.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Move openstack-tox-lower-constraints to UT jobs graph
  grafana/neutron.yaml
Due: none

Disable provider limestone
  nodepool/nl02.openstack.org.yaml
Due: none

Add noop-jobs to ara-{server,clients,plugins}
  zuul.d/projects.yaml
Due: none

Retire ara-{server,clients,plugins} repos: they've been merged to ara
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove openstack-cover-jobs/docs-on-readthedocs templates for ara
  zuul.d/projects.yaml
Due: none

Add an openstack/auto-scaling-sig repository
  accessbot/channels.yaml
  gerrit/acls/openstack/auto-scaling-sig.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Adding zuul jobs for rsd-virt-for-nova repo
  zuul.d/projects.yaml
Due: none

Disable wheel mirror updates for afs server upgrades
  zuul.d/projects.yaml
Due: none

Revert "Disable wheel mirror updates for afs server upgrades"
  zuul.d/projects.yaml
Due: none

Move wsme jobs in-tree
  zuul.d/projects.yaml
Due: none

Add graph for number of periodic neutron jobs run
  grafana/neutron.yaml
Due: none

Update the network-ovn failure rate dashboard
  grafana/networking-ovn.yaml
Due: none

Add cgit-alias for zuul-preview
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Disable wheel mirror updates
  zuul.d/projects.yaml
Due: none

Revert "Disable wheel mirror updates"
  zuul.d/projects.yaml
Due: none

Run node jobs using version 4 on xenial nodes
  zuul.d/projects.yaml
Due: none

Use include_role and delegate_to for upload-npm
  playbooks/javascript/release.yaml
Due: none

Sphinx publishing adjustments for ubuntu-bionic
  zuul.d/jobs.yaml
Due: none

use the new redirect target for constraints when branching
  roles/copy-release-tools-scripts/files/release-tools/functions
Due: none

Wrap upload-npm invocation in a block
  playbooks/javascript/release.yaml
Due: none

Use xenial for translation jobs
  zuul.d/jobs.yaml
Due: none

Add cinderlib publish-to-pypi job
  zuul.d/projects.yaml
Due: none

Remove unneeded storyboard-webclient post job
  zuul.d/projects.yaml
Due: none

Set variables for storyboard-webclient release job
  zuul.d/projects.yaml
Due: none

Update zuul ansible location
  tools/normalize_channels_yaml.py
  tools/projectconfig_yamllib.py
  tox.ini
Due: openstack-tox-linters

Remove packethost from nodepool builders
  nodepool/nodepool.yaml
Due: none

Cleanup packethost zk data
  nodepool/nodepool.yaml
Due: none

Revert "Disable provider limestone"
  nodepool/nl02.openstack.org.yaml
Due: none

Replace openstack.org git:// URLs with https://
  roles/copy-release-tools-scripts/files/release-tools/eol_branch.sh
  tox.ini
Due: openstack-tox-linters

Migrate ironic-staging-drivers jobs in-tree
  zuul.d/projects.yaml
Due: none

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  test-release-openstack-python3: any of: setup.cfg, setup.py, README.rst
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-423: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-trusty: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
